<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>pachangaManager.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F1114EAF1CC9556B004D4719</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F1114EC81CC9556B004D4719</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F1114ED31CC9556B004D4719</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
